name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Dependencies
      run: sudo apt install libgpg-error-dev libgpgme11-dev libncurses5-dev libncursesw5-dev
    - name: Build
      run: cargo build -p ripasso-cursive --verbose
    - name: Run tests
      run: cargo test --verbose
